<a href="https://colab.research.google.com/github/Deusmaxz/MachineLearning/blob/main/Week7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import balanced_accuracy_score, roc_auc_score, make_scorer
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import confusion_matrix
from sklearn.metrics import plot_confusion_matrix

In [2]:

df=pd.read_excel('/content/drive/MyDrive/ML/Telco_customer_churns.xlsx')
df.head()

   CustomerID  Count  ...  CLTV                   Churn Reason
0  3668-QPYBK      1  ...  3239   Competitor made better offer
1  9237-HQITU      1  ...  2701                          Moved
2  9305-CDSKC      1  ...  5372                          Moved
3  7892-POOKP      1  ...  5003                          Moved
4  0280-XJGEX      1  ...  5340  Competitor had better devices

[5 rows x 33 columns]

In [3]:
df.columns

Index(['CustomerID', 'Count', 'Country', 'State', 'City', 'Zip Code',
       'Lat Long', 'Latitude', 'Longitude', 'Gender', 'Senior Citizen',
       'Partner', 'Dependents', 'Tenure Months', 'Phone Service',
       'Multiple Lines', 'Internet Service', 'Online Security',
       'Online Backup', 'Device Protection', 'Tech Support', 'Streaming TV',
       'Streaming Movies', 'Contract', 'Paperless Billing', 'Payment Method',
       'Monthly Charges', 'Total Charges', 'Churn Label', 'Churn Value',
       'Churn Score', 'CLTV', 'Churn Reason'],
      dtype='object')

Data Preprocessing

In [4]:
#drop unused features/columns for predictions
df.drop(['Churn Label', 'Churn Score','CLTV', 'Churn Reason'], axis=1, inplace=True) #axis=1 to remove columns
df.head()

   CustomerID  Count        Country  ... Monthly Charges Total Charges  Churn Value
0  3668-QPYBK      1  United States  ...           53.85        108.15            1
1  9237-HQITU      1  United States  ...           70.70        151.65            1
2  9305-CDSKC      1  United States  ...           99.65         820.5            1
3  7892-POOKP      1  United States  ...          104.80       3046.05            1
4  0280-XJGEX      1  United States  ...          103.70        5036.3            1

[5 rows x 29 columns]

In [5]:

#check whether there are others unused columns, i.e single value
df['Count'].unique()

array([1])

In [6]:
df['Country'].unique

<bound method Series.unique of 0       United States
1       United States
2       United States
3       United States
4       United States
            ...
7038    United States
7039    United States
7040    United States
7041    United States
7042    United States
Name: Country, Length: 7043, dtype: object>

In [7]:
df['Country'].unique()

array(['United States'], dtype=object)

In [8]:
df['State'].unique()

array(['California'], dtype=object)

In [9]:
df.drop(['CustomerID','Count','Country','State','Lat Long'], axis=1, inplace=True)
df.head()

          City  Zip Code   Latitude  ...  Monthly Charges Total Charges Churn Value
0  Los Angeles     90003  33.964131  ...            53.85        108.15           1
1  Los Angeles     90005  34.059281  ...            70.70        151.65           1
2  Los Angeles     90006  34.048013  ...            99.65         820.5           1
3  Los Angeles     90010  34.062125  ...           104.80       3046.05           1
4  Los Angeles     90015  34.039224  ...           103.70        5036.3           1

[5 rows x 24 columns]

In [10]:
df['City'].unique()

array(['Los Angeles', 'Beverly Hills', 'Huntington Park', ..., 'Standish',
       'Tulelake', 'Olympic Valley'], dtype=object)

In [11]:
# to draw tree, remove all whitespaces
df['City'].replace(' ','_', regex=True,inplace=True)
df.head()

          City  Zip Code   Latitude  ...  Monthly Charges Total Charges Churn Value
0  Los_Angeles     90003  33.964131  ...            53.85        108.15           1
1  Los_Angeles     90005  34.059281  ...            70.70        151.65           1
2  Los_Angeles     90006  34.048013  ...            99.65         820.5           1
3  Los_Angeles     90010  34.062125  ...           104.80       3046.05           1
4  Los_Angeles     90015  34.039224  ...           103.70        5036.3           1

[5 rows x 24 columns]

In [12]:
df['City'].unique()[0:10]

array(['Los_Angeles', 'Beverly_Hills', 'Huntington_Park', 'Lynwood',
       'Marina_Del_Rey', 'Inglewood', 'Santa_Monica', 'Torrance',
       'Whittier', 'La_Habra'], dtype=object)

In [13]:
#replace whitespace in the column names, requirement for drawing the tree

df.columns = df.columns.str.replace(' ','_')
df.head()

          City  Zip_Code   Latitude  ...  Monthly_Charges Total_Charges Churn_Value
0  Los_Angeles     90003  33.964131  ...            53.85        108.15           1
1  Los_Angeles     90005  34.059281  ...            70.70        151.65           1
2  Los_Angeles     90006  34.048013  ...            99.65         820.5           1
3  Los_Angeles     90010  34.062125  ...           104.80       3046.05           1
4  Los_Angeles     90015  34.039224  ...           103.70        5036.3           1

[5 rows x 24 columns]